/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

html,
body {
  height: 100%;
  margin: 0 auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

button[color="primary"] {
  background-color: $primary_color !important;
}

button[color="accent"] {
  background-color: $secondary_color !important;
}
